:root {
    --green: #51ad45;
    --grey: #282828;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--grey);
    color: var(--green);
}

/* Header Style Begin */
header {
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    flex-wrap: flex;
    position: relative;
    top: 0;
    padding: 10px 15px;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    text-decoration: none;
    margin: 10px;
    color: var(--grey);
    background-color: var(--green);
    
}

header a {
    text-decoration: none;
    color: var(--green);
}

header nav {
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    margin: 5px;
}
/* Header Style End */

/* Hero Style Start */
.hero {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/header.bg.jpg");
    height: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    font-size: 40px;
    color: var(--grey);
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 75%;
    left: 80%;
    background-color: var(--green);
    padding: 2px 5px;
}
/* Hero Style End */

.sections {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 50px auto;
    align-items: center;
    width: 80%;

}

.sections h2 {
    padding-right: 15px;
    align-self: flex-start;
}

/* About Me style Start */
.intro-info {
    line-height: 1.3;
    font-size: 18px;
    border-left: 5px solid var(--green);
    padding: 0 80px 0 15px;
}
/* About Me Style End */

/* Work Style Start */
.work {
    display: flex;
    flex-wrap: wrap;
}

.work-info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    border-left: 5px solid;
}

.work-img {
    margin: 20px 30px auto;
}

.work-img-main {

}

.work-img-main img {
    height: 350px;
    width: 100%;
}

.work-img img {
    height: 250px;
    width: 100%;
}

/* Utilites */
.underline {
    border-bottom: 4px solid var(--green);
}

